$main-color: #ff7010;
$black-color: #191919;
$gray-color: #f0f0f0;
$gray2-color: #a5a5a5;
$red-color: #ff0000;
$white-color: #ffffff;



$breakpoint-xs: 368px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

